:root {
  --primary: #111b54;
  --Light: #ffffff;
  --grey: #efefef;
}

body {
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a {
  text-decoration: none;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.lbl-modal10 {
  background: #0d6efd;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  color: #efefef;
  font-family: "Mulish", sans-serif;
}

.pad {
  padding: 0.7rem 1.3rem !important;
}

.form img {
  display: flex;
  margin: auto;
  border-radius: 50%;
}

.barra {
  display: none;
}

.btn {
  border: 0;
}

.btn-primary:hover {
  background-color: var(--primary);
}

.avatar {
  max-width: 50px;
  max-height: 50px;
}

.start {
  border-right: 1px solid var(--grey);
}

.bg-mix {
  background: linear-gradient(180deg, var(--Light) 50%, var(--grey) 0);
}

/*por ver*/
.cambio {
  text-align: right !important;
}

.btn-search {
  right: 5px;
}

a:hover {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--Light) !important;
}
.bg-grey {
  background-color: var(--grey) !important;
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
  text-align: center;
}

#sidebar-container .menu {
  width: 18rem;
}

.cambio4 {
  display: flex;
  justify-content: center;
}

.bton {
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 80px;
  background-color: var(--primary);
  color: #ffffff;
}

.bton50 {
  cursor: pointer;
}

.bton:hover {
  background-color: rgb(72, 43, 153);
}

.cambio5 {
  position: relative;
  margin-top: 30px;
}

.nombre {
  width: 21rem;
}

.nombre1 {
  width: 21rem;
}

/*CONFIGURAR EL SCROLL*/

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #aca6a6;
  border-radius: 5px;
}
/*----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");

/*CONFIGURAR LOGIN*/
.contenido100 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  background: url(/front/img/play.jpg);
  background-size: 100%;
}

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 405px;
  padding: 2.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form_title {
  margin-bottom: 15px;
  text-align: center;
}

.form_link {
  font-weight: 400;
  color: #000;
}

.form_container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form_group {
  position: relative;
  --color: #5757577e;
}

.form_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "Roboto", sans-serif;
}

.form_input:focus,
.form_input:not(:placeholder-shown) {
  color: #4d4646;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.form_label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form_submit {
  background: #3866f2;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}

/*----------------------*/

.linea {
  width: 2px;
  background-color: #fff;
}

.cambio6 {
  border: blue 1.5px solid !important;
  width: 25rem;
}

.cambio3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contenido1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #2c3985;
  padding: 15px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.letra1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

/* ENVIO DE MENSAJES MASIVOS*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@200;400&display=swap");

.contenido10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenido11 {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  width: 20rem;
}

.contenido3 {
  font-size: 20px;
}

#file[type="file"] {
  display: none;
}

.label10 {
  color: #fff;
  height: 35px;
  width: 100px;
  background-color: var(--primary);
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  cursor: pointer;
  border: 2px solid rgb(32, 18, 70);
}

.imag {
  margin-top: 30px;
}

.bton9 {
  display: flex;
  justify-content: center;
}

.imag img {
  width: 320px;
  height: 270px;
}

.bton10 {
  color: #fff;
  height: 35px;
  width: 100px;
  background-color: var(--primary);
  margin-top: 30px;
}

.bton10:hover {
  background-color: rgb(72, 43, 153);
}

.contenido2 {
  margin-top: 50px;
}

.label10:hover {
  background-color: rgb(72, 43, 153);
}

.nombre100 {
  width: 20rem;
}

.contenido4 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*--------------------------------------------------------*/

.team {
  background-color: rgb(48, 68, 156) !important;
  text-align: center !important;
}

.caja {
  display: inline-block !important;
  margin: 20px 20px 20px 20px;
}

/*VENTANA MODAL*/
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.contenedor {
  width: 400px;
  height: 387px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}

.contenedor10 {
  width: 240px;
  height: 91px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
  text-align: center;
}

.contenedor10 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor10 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor10 {
  transform: translateY(0%);
}

#btn-modal {
  display: none;
}

#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.lbl-modal b {
  color: #fff;
  font-family: "Mulish", sans-serif;
}

.lbl-modal {
  background: #0d6efd;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.lbl-modal:hover {
  background-color: var(--primary);
}

.pista {
  background-color: var(--primary);
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

.pista:hover {
  background-color: rgb(72, 43, 153);
}

.carta {
  text-align: center;
  margin: 11px 15px;
}

.contenido50 label {
  margin-bottom: 5px;
}

/*MODAL DE IMAGEN*/
.contenedor2 {
  width: 400px;
  height: 667px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor2 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor2 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor2 {
  transform: translateY(0%);
}

#content2 {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

/*MODAL DEL VIDEO*/
.contenedor3 {
  width: 400px;
  height: 527px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor3 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor3 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor3 {
  transform: translateY(0%);
}

#content3 {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

/*MODAL DE BOTONES*/
.contenedor4 {
  width: 400px;
  height: 737px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor4 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor4 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor4 {
  transform: translateY(0%);
}

#content4 {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

/*MODAL DE CAROUSEL*/
.contenedor5 {
  width: 400px;
  height: 667px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor5 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor5 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor5 {
  transform: translateY(0%);
}

#content5 {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

/*MODAL DE MENU PERSISTENTE*/
.contenedor6 {
  width: 400px;
  height: 630px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor6 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor6 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor6 {
  transform: translateY(0%);
}

#content6 {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

/*MODAL DE CONEXION*/
.contenedor7 {
  width: 400px;
  height: 807px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedor7 header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor7 .label1 {
  flex-direction: row;
  position: relative;
  left: 190px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#btn-modal:checked ~ .modal .contenedor7 {
  transform: translateY(0%);
}

#content7 {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

/*--------------------------------------------*/

@media (max-width: 1300px) {
  .contenido11 {
    margin-left: 5%;
  }
}

@media (max-width: 1200px) {
  .cambio5 {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .nombre {
    width: 16rem !important;
  }

  .nombre1 {
    width: 16rem !important;
  }

  .cambio6 {
    border: blue 1.5px solid !important;
    width: 18rem !important;
  }

  .contenido11 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .cambio5 {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .nombre {
    width: 21rem !important;
  }

  .nombre1 {
    width: 21rem !important;
  }

  .cambio6 {
    border: blue 1.5px solid !important;
    width: 25rem !important;
  }

  /*RESPONSIVE DE ENVIO DE MENSAJES*/
  .contenido10 {
    display: flex;
    flex-direction: column;
  }
  .contenido11 {
    text-align: center !important;
    display: contents;
  }
  .contenido2 {
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }

  .barra {
    display: flex;
  }

  .lead5 {
    font-size: 2rem;
    background-color: #111b54;
    padding: 2px 9px;
    border: #ca5719 2px solid;
  }

  .lead5:hover {
    background-color: rgb(72, 43, 153);
  }

  .conjunto {
    display: flex;
    justify-content: center !important;
  }

  .stat {
    border: 0;
  }

  .cambio5 {
    display: flex !important;
    justify-content: center !important;
  }

  .form {
    width: 90%;
    max-width: 300px;
  }

  .nombre {
    width: 16rem !important;
  }

  .nombre1 {
    width: 16rem !important;
  }

  .cambio6 {
    border: blue 1.5px solid !important;
    width: 18rem !important;
  }
}

@media (max-width: 600px) {
  .nombre {
    width: 21rem !important;
  }

  .nombre1 {
    width: 21rem !important;
  }

  .cambio6 {
    border: blue 1.5px solid !important;
    width: 25rem !important;
  }
}

@media (max-width: 500px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }

  .lead5 {
    font-size: 1.8rem;
    background-color: #111b54;
    padding: 1px 5.5px;
    border: #ca5719 2px solid;
  }

  .cambio5 {
    display: flex !important;
    justify-content: center !important;
  }

  .nombre {
    width: 16rem !important;
  }

  .nombre1 {
    width: 16rem !important;
  }

  .cambio6 {
    border: blue 1.5px solid !important;
    width: 18rem !important;
  }

  .form {
    width: 70%;
    max-width: 280px;
  }

  .contenedor {
    width: 280px;
  }

  .contenedor .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .contenedor2 {
    width: 280px;
  }

  .contenedor2 .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .contenedor3 {
    width: 280px;
  }

  .contenedor3 .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .contenedor4 {
    width: 280px;
  }

  .contenedor4 .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .contenedor5 {
    width: 280px;
  }

  .contenedor5 .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .contenedor6 {
    width: 280px;
  }

  .contenedor6 .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }

  .contenedor7 {
    width: 280px;
  }

  .contenedor7 .label1 {
    flex-direction: row;
    position: relative;
    left: 70px;
  }
}

@media (max-width: 350px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }

  .lead5 {
    font-size: 1.5rem;
    background-color: #111b54;
    padding: 1px 4px;
    border: #ca5719 2px solid;
  }

  .cambio5 {
    display: flex !important;
    justify-content: center !important;
  }

  .nombre {
    width: 12rem !important;
  }

  .nombre1 {
    width: 12rem !important;
  }

  .cambio6 {
    border: blue 1.5px solid !important;
    width: 14rem !important;
  }

  .form {
    width: 60%;
    max-width: 280px;
    height: 400px;
  }

  .form_title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
  }

  .nombre100 {
    width: 15rem;
  }

  .imag img {
    width: 300px !important;
    height: 260px !important;
  }
}

@media (max-width: 310px) {
  .lead5 {
    font-size: 1.5rem;
    background-color: #111b54;
    padding: 1px 2px;
    border: #ca5719 2px solid;
  }
}

@media (max-width: 280px) {
  #sidebar-container {
    display: none;
  }
  .stat {
    border: 0;
  }

  .cambio5 {
    display: flex !important;
    justify-content: center !important;
  }

  .contenedor {
    width: 270px;
  }

  .contenedor .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .contenedor2 {
    width: 270px;
  }

  .contenedor2 .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .contenedor3 {
    width: 270px;
  }

  .contenedor3 .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .contenedor4 {
    width: 270px;
  }

  .contenedor4 .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .contenedor5 {
    width: 270px;
  }

  .contenedor5 .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .contenedor6 {
    width: 270px;
  }

  .contenedor6 .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .contenedor7 {
    width: 270px;
  }

  .contenedor7 .label1 {
    flex-direction: row;
    position: relative;
    left: 60px;
  }

  .imag img {
    width: 260px !important;
    height: 250px !important;
  }
}
